<html>
<body>
  <h1>Rock, Paper, Scissors death battle</h1>
  <form action ="/ready" method="post">
    <h2>To begin playing please enter your name.<h2/>
    Player Name:
    <input type="text" name="player">
    <input type="submit" value="Register">
  </form>
</body>
</html>
