Player: Paper vs CPU: <%= @CPU_weapon %><br />

<% if @CPU_weapon == "Scissors" %>
You lose.
<% elsif @CPU_weapon == "Paper" %>
It's a draw.
<% elsif @CPU_weapon == "Rock" %>
You win!
<% end %>

<form action="/select_rock" method="get">
  <input type="submit" value="Rock">
</form>

<form action="/select_paper" method="get">
  <input type="submit" value="Paper">
</form>

<form action="/select_rock" method="get">
  <input type="submit" value="Scissors">
</form>
