<h2>Welcome <%= @player %> !  Lets get ready to battle!</h2>

Choose your weapon.
<form action="/select_rock" method="get">
  <input type="submit" value="Rock">
</form>

<form action="/select_paper" method="get">
  <input type="submit" value="Paper">
</form>

<form action="/select_scissors" method="get">
  <input type="submit" value="Scissors">
</form>
